@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-pk-gray-50: #f2f2f2;
  --color-pk-gray-100: #e6e6e6;
  --color-pk-gray-200: #cccccc;
  --color-pk-gray-300: #b3b3b3;
  --color-pk-gray-400: #999999;
  --color-pk-gray-500: #808080;
  --color-pk-gray-600: #666666;
  --color-pk-gray-700: #4d4d4d;
  --color-pk-gray-800: #333333;
  --color-pk-gray-900: #1a1a1a;

  --color-element-water: #4A90DA;
  --color-element-dragon: #0A6DC4;
  --color-element-electric: #F4D23C;
  --color-element-fairy: #EB8FE6;
  --color-element-ghost: #5269AD;
  --color-element-fire: #FF9C54;
  --color-element-ice: #74CEC0;
  --color-element-grass: #63BC5A;
  --color-element-bug: #91C12F;
  --color-element-fighting: #CE4069;
  --color-element-normal: #919AA2;
  --color-element-dark: #5A5366;
  --color-element-steel: #5A8EA1;
  --color-element-rock: #C9BB8D;
  --color-element-psychic: #F87176;
  --color-element-ground: #D97745;
  --color-element-poison: #B667CD;
  --color-element-flying: #89AAE3;
}

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
